<script>
    /* Burger menu functionality */
    let burgerMenu = document.getElementById("burger-menu");
    let navbarMenu = document.getElementById("navbar-menu");
    burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("is-active");
    navbarMenu.classList.toggle("is-active");
    });
</script>
</body>
</html>