<%- include('includes/header') %>

<style>
    input:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
        padding: 0.5rem;
        border-radius: 4px;
    }
</style>

    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-7">
                        <form action="" class="box" method="post">
                            <div class="field has-text-centered">
                                <img src="/kuvat/DjangoKauppa_Logo_400.png" width="167">
                            </div>
                            <% if (errors) { %>
                                <p class="has-text-danger m-3 is-size-5 has-text-weight-semibold has-text-centered">Käyttäjätunnus ja/tai salasana virheellinen!</p>
                            <% } %>
                            <div class="field">
                                <label class="label">Käyttäjätunnus</label>
                                <div class="control has-icons-left">
                                    <input class="input <% if (errors) { %>is-danger<% } %>" id="id_username" name="username" autofocus="" autocapitalize="none" autocomplete="username" type="text" placeholder="Käyttäjätunnus" maxlength="30" required value=<%= form.username %>>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Salasana</label>
                                <div class="control has-icons-left">
                                    <input id="id_password" class="input <% if (errors) { %>is-danger<% } %>" name="password" type="password" placeholder="Salasana" required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button is-success">
                                Kirjaudu sisään
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('includes/footer_minimal') %>