<%- include('includes/header'); %>

<% if (locals.success) { %>
  <div class="notification is-success is-light has-text-weight-bold is-size-4 has-text-centered">
    <button class="delete" onclick="this.parentElement.style.display = 'none'"></button>
    Tuote lisätty onnistuneesti!
  </div>
<% } %>

<form action="" method="post" enctype="multipart/form-data">

  <div class="field">
    <label class="label">Tuotten nimi</label>
    <div class="control">
      <input class="input <% if (errors.nimi) { %>is-danger<% } %>" name="nimi" type="text" placeholder="Tuotteen nimi" required value="<%= form.nimi %>">
    </div>
    <% if (errors.nimi) { errors.nimi.forEach(error => { %>
      <p class="has-text-danger"><%= error %></p>
    <% }); } %>
  </div>

   <div class="field">
    <label class="label">Lisätiedot tuotteesta</label>
    <div class="control">
      <textarea name="lisätiedot" class="textarea <% if (errors.lisätiedot) { %>is-danger<% } %>" placeholder="Lisätiedot" required><%= form.lisätiedot %></textarea>
    </div>
    <% if (errors.lisätiedot) { errors.lisätiedot.forEach(error => { %>
      <p class="has-text-danger"><%= error %></p>
    <% }); } %>
  </div>
  
  <div class="field">
    <label class="label">Hinta</label>
    <div class="control">
      <input class="input <% if (errors.hinta) { %>is-danger<% } %>" name="hinta" type="number" placeholder="Hinta" step="0.01" required value="<%= form.hinta %>">
    </div>
    <% if (errors.hinta) { errors.hinta.forEach(error => { %>
      <p class="has-text-danger"><%= error %></p>
    <% }); } %>
  </div>

  <div class="field">
    <label class="label">Kuva</label>
    <div class="control">
      <input class="input <% if (errors.kuva) { %>is-danger<% } %>" name="kuva" type="file" accept="image/*" placeholder="Tuotteen kuvan" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Määrä</label>
    <div class="control">
      <input class="input <% if (errors.määrä) { %>is-danger<% } %>" name="määrä" type="number" placeholder="Määrä" onkeydown="if(',.'.includes(event.key)){event.preventDefault();}" required value="<%= form.määrä %>">
    </div>
    <% if (errors.määrä) { errors.määrä.forEach(error => { %>
      <p class="has-text-danger"><%= error %></p>
    <% }); } %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" type="submit">Lähetä</button>
    </div>
    <div class="control">
      <button class="button is-primary is-light" type="reset">Nollata</button>
    </div>
  </div>
</form>

<%- include('includes/footer'); %>